body{
font-family: Arial, Hevetica, Sans-serif
}

input{
width: 100%
padding: 12px 20px
display: inline-block
border: 1px solid #ccc
box-sizing: border-box
}

.container {
margin: auto
width: 50%
}

.data {
    padding: 16px
 }